/*
=============== 
About
===============
*/
/* section */
.section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 80vw;
    margin: 0 auto;
    max-width: 1170px;
  }
.hero-photo {
    max-width: 25rem;
    max-height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
/* section title added to globals */
.about-title {
    text-align: left;
    margin-bottom: 2rem;
  }
  .about-title .underline {
    margin-left: 0;
  }
  .about-center {
    display: grid;
    gap: 3rem 2rem;
  }
  .about-img {
    justify-self: center;
  }
  @media screen and (min-width: 992px) {
    .about-center {
      grid-template-columns: 1fr 1fr;
    }
    .about-img {
      position: relative;
    }
    .about-img::before {
      left: -2rem;
    }
    .about-info {
      align-self: center;
    }
  }
