/* section */
.section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }
  /* added during recording */
  .underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    margin-bottom: 4rem;
    text-align: center;
  }
  .bg-grey {
    background: var(--clr-grey-5);
  }

  .page-info_contact p{
    color: rgb(49, 47, 47);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .back {
    margin: 0 0 0 50px;
    width: 100px;
    height: 40px;
    background: var(--clr-primary-10);
    border: 1px solid ;
    border-radius: 8px;

    cursor: pointer;
    outline-style: none;
  
  } 
  